includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - cortex-phpstan.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Bridge/Symfony/Bundle/Resources/maker
        - src/Bridge/Symfony/Bundle/Maker
