<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-full bg-white">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block html_title 'meta.title'|trans %}</title>
		<meta name="description" content="{% block html_meta_description %}{% trans %}meta.description{% endtrans %}{% endblock %}">
		<meta name="robots" content="index, follow">

		{% block canonical %}{% endblock %}
		{% block favicon %}<link rel="icon" type="image/x-icon" href="{{ asset('assets/public/images/favicon.ico') }}">{% endblock %}

		{% block fonts %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		{% endblock %}

		{% block stylesheets vite_entry_link_tags('main') %}
		{% block javascripts vite_entry_script_tags('app') %}
	</head>

	<body class="h-full min-h-0 bg-layout-bg text-layout-text">
	{% block body %}
        <div id="container" class="group/sidebar h-screen max-h-screen overflow-hidden flex">
			<script>
				if (localStorage.getItem('sidebar-collapsed') === 'true') {
					document.querySelector('#container').classList.add('closed');
				}
			</script>
			<aside class="fixed inset-y-0 start-0 z-50 flex flex-col bg-menu-bg text-light border-r border-menu-border transition-all duration-300 w-60 group-[.closed]/sidebar:w-16 overflow-visible">
			{% block sidebar %}
				{% embed '@_theme/layout/sidebar.html.twig' %}{% endembed %}
			{% endblock %}
			</aside>
			<div class="ps-60 group-[.closed]/sidebar:ps-16 transition-[padding] duration-150 ease-in-out h-full flex-1 overflow-hidden flex flex-col">
			{% block content %}
				{# Symboles des cartes en diagonale - fond décoratif #}
				<div class="fixed top-[-5%] left-[calc(15rem-5%)] text-primary/5 text-[33rem] leading-none select-none pointer-events-none -rotate-[15deg] z-0">♦</div>
				<div class="fixed top-[17%] left-[calc(15rem+17%)] text-black/5 text-[33rem] leading-none select-none pointer-events-none -rotate-[15deg] z-0">♣</div>
				<div class="fixed top-[42%] left-[calc(15rem+42%)] text-primary/5 text-[33rem] leading-none select-none pointer-events-none -rotate-[15deg] z-0">♥</div>
				<div class="fixed top-[62%] left-[calc(15rem+70%)] text-black/5 text-[33rem] leading-none select-none pointer-events-none rotate-[165deg] z-0">♠</div>
				<main class="flex flex-col h-0 flex-1 overflow-y-auto relative">
					{% block notifications %}{% endblock %}
					{% block toasts %}{% endblock %}
					{% block main '' %}
				</main>
			{% endblock %}
            </div>
        </div>
		{% block search_modal %}{% endblock %}
	{% endblock %}
	</body>
</html>
