<form class="grid grid-cols-1 w-56" action="#" method="GET">
    <input type="search" name="search" aria-label="Search" class="col-start-1 row-start-1 block size-full bg-card pl-8 text-foreground outline-none placeholder:text-muted-foreground text-sm/6" placeholder="Search">
    <i data-lucide="search" class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-muted-foreground"></i>
</form>
