<form class="grid grid-cols-1 w-56" action="#" method="GET">
    <input type="search" name="search" aria-label="Search" class="col-start-1 row-start-1 block size-full bg-white pl-8 text-gray-700 outline-none placeholder:text-gray-400 text-sm/6" placeholder="Search">
    <i data-lucide="search" class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-400"></i>
</form>
