{% block form_row %}
	<div>
		{{ form_label(form, '', { 'attr': { 'class': 'block text-sm/6 font-medium text-foreground' }}) }}
		<div class="mt-2">
			{{ form_widget(form, { 'attr': { 'class': 'block w-full rounded-md bg-card px-3 py-1.5 text-base text-foreground outline-1 -outline-offset-1 outline-input placeholder:text-muted-foreground focus:outline-2 focus:-outline-offset-2 focus:outline-primary sm:text-sm/6' }}) }}
			{{ form_errors(form) }}
		</div>
	</div>
{% endblock %}

{% block submit_row %}
	<div>
		{{ form_widget(form, { 'attr': { 'class': 'flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-primary/90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary'}}) }}
	</div>
{% endblock %}
