{% extends 'base.html.twig' %}

{% block main %}
	<main class="container mx-auto py-20">
		<ul class="list-disc list-inside">
			<li>
				<a class="underline" href="https://tailwindcss.com/plus/ui-blocks/application-ui/feedback/empty-states#component-680f71a6b1841658956e1546648937d5">Empty State "dropzone"</a>
			</li>
			<li>
				<a href="https://tailwindcss.com/plus/ui-blocks/application-ui/forms/input-groups">Inputs</a>
			</li>
		</ul>
	</main>
{% endblock %}
